<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","align":"full","layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"top"}} -->
<main class="wp-block-group alignfull"><!-- wp:group {"style":{"layout":{"selfStretch":"fill","flexSize":null}},"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:post-title {"level":1} /-->
<!-- wp:post-content {"layout":{"type":"constrained"}} /--></div>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"rail","tagName":"aside","style":{"layout":{"selfStretch":"fixed","flexSize":"var(--wp--custom--rail-width)"}}} /--></main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
